# IGNORAR TUDO (MANTER NO INICIO!!!)
**

# IGNORAR [SIM]
PASTA_A/
PASTA_*/
*ASTA_*/
**/*ASTA_*/

# IGNORAR [NAO]
!src/FLY_IO/
!src/FLY_IO/**
!src/resources/
!src/resources/**

# IGNORAR [SIM]
**/node_modules
src/CLOUDFLARE/

# IGNORAR [NAO] (MANTER NO FINAL)
!src/**/package.json


