# IGNORAR [SIM] → {TUDO} (MANTER NO INICIO!!!)
**

# IGNORAR [SIM]
PASTA_A/
PASTA_*/
*ASTA_*/
**/*ASTA_*/

# IGNORAR [SIM]
PASTA_A/arquivo.txt
PASTA_A/arquivo.tx*
PASTA_A/*rquivo.tx*
**/*ASTA_*/*rquivo.tx*

# IGNORAR [NAO]
!src/
!src/gitHubActions/
!src/gitHubActions/**

# IGNORAR [SIM]
**/*.exe
**/node_modules/
**/*teste*
**/*_temp*
**/*.json
**/*.pac
**/*.zip
**/.venv/
**/.libs/
**/__pycache__/
**/__init__.py

# IGNORAR [NAO]
!src/gitHubActions/package.json


